<br>
<p>Welcome to the Area1</p>
<p> <%= @intro_area1 %> </p>

<p><%= @item1 %></p>

<div class="options">
<h4><%= "Do you take the compass?" %></h4>

<span><%="Take it" %></span><br>
<span><%="Leave it" %></span><br>
</div>



<form class="" action="/area1_game" method="get">
<footer> <input class="user-input" type="text" name="player_area1_input" autofocus > </footer>

</form>
