<br>
<% @location %> <% @player %> <% @objective %>
<% if @default %>
<p> <%= "You awake to the feeling of your cat jumping on your bed. It feels a little later than you usually wake up in the morning. With no alarm other than your hungry cat kneading into your head, you remember today is a holiday." %> <p>

<p><%= "You roll over and check the time on your phone, it's 8:04AM" %></p>

<div class="options">
<h4><%= "What do you do now?" %></h4>

<span><%="Go back to sleep" %></span><br>
<span><%="Get up and feed cat" %></span><br>
<span><%="Check phone" %></span>

</div>

<% elsif  @slept%>

<p><%= "You close your eyes and quickly drift back to sleep. You wake up to find it's currently" %> <%= @time %></p>
<h4><%= "What do you do now?" %></h4>

<span><%="Go back to sleep" %></span><br>
<span><%="Get up and feed cat" %></span><br>
<span><%="Check phone" %></span>

<% elsif  @tired%>
<%= "Are you feeling okay?" %>
<h4><%= "What do you do now?" %></h4>

<span><%="Get up and feed cat" %></span><br>
<span><%="Check phone" %></span>

<% elsif  @hungry%>
<p><%= "You roll out of bed and muddle your way into the kitchen, cat screaming while dodging between your steps" %></p>

<p><%= "Checking the bag of food you find a chewed out hole with bits of food scattered across the table...your cat still appears hungry although you might have a feeling they are probably okay." %></p>
<h4><%= "What do you do now?" %></h4>

<span><%="Pet cat" %></span><br>
<span><%="Check phone" %></span>

<% elsif  @feeds%>
<p><%= "You roll out of bed and muddle your way into the kitchen, cat screaming while dodging between your steps" %></p>

<p><%= "Grabbing the bag of food you remembered that you accidentally bought kitten food, your cat doesn't seem to mind either way so you've been going through it anyway." %></p>

<p><%= "Pouring the food into your cats dish as they try to push your hand away to start eating as soon as possible." %></p>
<h4><%= "What do you do now?" %></h4>

<span><%="Pet cat" %></span><br>
<span><%="Check phone" %></span>

<% elsif  @pets%>
<p><%= "They like you" %></p>

<h4><%= "What do you do now?" %></h4>

<span><%="Check phone" %></span>
<% end %>
<form class="" action="/bed" method="get">
<footer> <input class="user-input" type="text" name="player_start_input" autofocus > </footer>

</form>

<% if @test %>
<%= "This works" %>
<% end %>
