<br>
<h3>Aye it's Rudolph</h3>

<br>

<p> <%= @header %> </p>

<p><%= @story %></p>

<br>

<div>
<img class="story-image" src="<%= @image %>">
</div>

<br>

<h5><%= @dialogue %> </h5>

<div class="options">
<h4><%= @choice %></h4>

<br>

<span><%= @option1 %></span><br>
<span><%= @option2 %></span><br>
<span><%= @option3 %></span><br>
</div>


<form class="" action="/scene4_game" method="get">
<footer> <input class="user-input" type="text" name="player_scene4_input" autofocus > </footer>

</form>
