<h2><%= @player.name.upcase %>'s Adventure!</h2>
<p><%= @location.sign %></p>
<p><%= @location.transition %></p>

<% if (@player.location_id > 0) %>
  <%= render 'bed' %>
<% end %>

<dl>
  <% @location.options.each do |option| %>
    <dd><%= option.action %></dd>
  <% end %>
</dl>

  <%# render "layout/" + @location.sign %>

<footer>
  <p><%= @input %></p>
  <%= form_for(@player) do %>
    <%= text_field_tag(:input, '', autofocus: true) %>
  <% end %>
</footer>
